.git
.github
node_modules
vendor
.env
.env.*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/storage
public/releases
bootstrap/cache/*
database/*.sqlite
**/*.sqlite
tests
.claude
design
*.md
Dockerfile
docker-compose.yml
